<div class="body_width">
		<center>
		<h1>FAQ</h1></center>
		<h4>What are Social Connections?</h4>
<p align="left">
Social Connections allow the Airbnb community to see how they are connected to each other. Travelers can filter their search results to see places their friends have reviewed, as well as their connections to hosts through mutual friendships and school affiliations. See more details in our FAQ.

<h4>How can I enable Social Connections?</h4>
<p align="left">

To enable Social Connections, you need to connect to Facebook at your Trust and Verification page. To create an Airbnb account right now by connecting to Facebook, simply click on the Facebook Connect button at the top of this page.

<h4>How can I opt out?</h4>
<p align="left">

You can disable this feature with a single click at your Privacy page.
</div>